{% extends 'index.html.twig' %}

{% block title %}Créer votre compte{% endblock %}

{% block body %}
    <h1>Vous souhaitez poster vos annonces ? Créez votre compte!</h1>

    {{ form_start(registrationRecruteurForm) }}
        {{ form_row(registrationRecruteurForm.email) }}
        {{ form_row(registrationRecruteurForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationRecruteurForm.agreeTerms) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationRecruteurForm) }}
{% endblock %}
