{% extends 'index.html.twig' %}

{% block title %}Annonce index{% endblock %}

{% block body %}
    <h1>Annonce index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Lieu</th>
                <th>Description</th>
                <th>Visible</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for annonce in annonces %}
            <tr>
                <td>{{ annonce.id }}</td>
                <td>{{ annonce.intitule }}</td>
                <td>{{ annonce.lieu }}</td>
                <td>{{ annonce.description }}</td>
                <td>{{ annonce.visible ? 'Yes' : 'No' }}</td>
                <td> 
                    {% if app.user and "ROLE_RECRUTEUR" in app.user.roles %}
                        <a type="button" class="btn" href="{{ path('app_annonce_show', {'recruteur': app.user.getRecruteur.id,'id': annonce.id}) }}">Voir</a>
                        <a type="button" class="btn" href="{{ path('app_annonce_edit', {'recruteur': app.user.getRecruteur.id,'id': annonce.id}) }}">edit</a>
                    {% elseif app.user and "ROLE_CONSULTANT" in app.user.roles %}
                        <a type="button" class="btn" href="{{ path('app_annonce_show', {'recruteur': annonce.getRecruteur.id,'id': annonce.id}) }}">Voir</a>
                        <a type="button" class="btn" href="{{ path('app_annonce_makeVisible', { 'id': annonce.id, 'visible': (annonce.visible ? 0 : 1)}) }}">{{ annonce.visible ? 'Retirer' : 'Valider' }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if app.user and "ROLE_RECRUTEUR" in app.user.roles %}
    <a type="button" class="btn" href="{{ path('app_annonce_new', {'recruteur': app.user.getRecruteur.id}) }}">Create new</a>
    {% endif %}
{% endblock %}
