{% extends 'index.html.twig' %}

{% block title %}Annonce{% endblock %}

{% block body %}
    <h1>Annonce</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ annonce.intitule }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ annonce.lieu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ annonce.visible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Postulants</th>
                <td>{{ annonce.postulant }}</td>
            </tr>
        </tbody>
    </table>
{% if app.user and "ROLE_RECRUTEUR" in app.user.roles %}
    <a type="button" class="btn" href="{{ path('app_annonce_index') }}">back to list</a>

    <a type="button" class="btn" href="{{ path('app_annonce_edit', {'recruteur': app.user.getRecruteur.id,'id': annonce.id}) }}">edit</a>
{% endif  %}
    {{ include('annonce/_delete_form.html.twig') }}
{% endblock %}
