{% extends 'index.html.twig' %}

{% block title %}Candidats{% endblock %}

{% block body %}
    <h1>Candidats</h1>
    <a type="button" class="btn" href="{{ path('app_candidat_index_valid', {'actif': 0}) }}">Candidats en attente</a>
    <a type="button" class="btn" href="{{ path('app_candidat_index_valid', {'actif': 1}) }}">Candidats validés</a>
    <a type="button" class="btn" href="{{ path('app_candidat_index') }}">Tous les candidats</a>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>CV</th>
                <th>Validé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidat in candidats %}
            <tr>
                <td>{{ candidat.id }}</td>
                <td>{{ candidat.userid.nom }}</td>
                <td>{{ candidat.userid.prenom }}</td>
                <td>{{ candidat.userid.email }}</td>
                <td><a type="button" class="btn" href="{{ asset('/uploads/article_image/')  }}{{ candidat.cvName}}" download="{{ candidat.cvName }}">Télécharger son CV</a></td>
                <td>{{ candidat.actif ? 'ok' :'en attente' }}</td>
                <td>
                    <a type="button" class="btn" href="{{ path('app_candidat_show', {'id': candidat.id}) }}">Voir</a>
                    <a type="button" class="btn" href="{{ path('app_candidat_makeActive', {'id': candidat.id, 'actif': (candidat.actif ? 0 : 1)}) }}">{{ candidat.actif ? "Rendre Inactif" : "Rendre Actif" }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
