{% extends 'index.html.twig' %}

{% block title %}Candidat{% endblock %}

{% block body %}
    <h1>Candidat</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ candidat.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ candidat.userid.nom }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ candidat.userid.prenom }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ candidat.userid.email }}</td>
            </tr>
            <tr>
                <th>CV</th>
                <td><a type="button" class="btn" href="{{ asset('/uploads/article_image/')  }}{{ candidat.cvName}}" download="{{ candidat.cvName }}">Télécharger le CV</a></td>
            </tr>
            <tr>
                <th>Actif</th>
                <td>{{ candidat.actif ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
