{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
  
   
{% block header %}
    <img class ="logo" src="{{ asset('images/logo.png') }}"/> 
    <h1 class="title">HotelJobs, bonjour {{ app.user ? app.user :  ''}}!</h1> 
    <div class="admin-buttons">
    {% if app.user %}
        {% if "ROLE_SUPER_ADMIN" in app.user.roles %} 
            <a type="button" class="btn" href="/admin">Admin</a>
        {% else %}
            <a type="button" class="btn" href="/admin">Admin</a>
        {% endif %}
    {% endif %}
        <a type="button" class="btn" href="/admin">Admin</a>
    </div>

    <div class="nav">
        <a type="button" class="btn" href="/">Accueil</a>
        <a type="button" class="btn" href="{{ path('app_recruteur_index') }}">Tous les recruteurs</a>
        <a type="button" class="btn" href="{{ path('app_candidat_index') }}">Tous les candidats</a>
    {% if app.user and (("ROLE_CANDIDAT" in app.user.roles) or ("ROLE_CONSULTANT" in app.user.roles)) %}
        <a type="button" class="btn" href="">Mon profil</a>
        <a type="button" class="btn" href="">Annonces</a>
    {% elseif app.user and (("ROLE_RECRUTEUR" in app.user.roles) or ("ROLE_CONSULTANT" in app.user.roles))  %}
        <a type="button" class="btn" href="">Mon profil</a>
        <a type="button" class="btn" href="">Annonces</a>
    {% endif %}  
    </div>
    {% block body %}
   <br>
    <div class="fond-gris centre announcement"> 
        <div> 
            {% if app.user %}
                Bienvenue sur le site d'annonces dédiées aux métiers de l'hôtellerie et de la restauration.
            {% else %}
                Bienvenue sur le site d'annonces dédiées aux métiers de l'hôtellerie et de la restauration.
            {% endif %} 
        </div>
    </div>
    <div class="register"> 
     Vous n'avez pas encore de compte ? Créez-le !
    <a type="button" class="btn register" href="{{ path('app_registerRecruteur') }}">Vous êtes recruteur</a>
    ou
    <a type="button" class="btn register" href="{{ path('app_registerCandidat') }}">Vous êtes candidat</a>
    </div>
    {% endblock %}
{% endblock %}
